

{{ use('yii/helpers/Html')}}
{{ use('yii/widget/DetailView')}}
{{ use('yii/grid/GridView')}}




<div class="dev-deviation-view">



    {{ levelModel.id_rpn }}


        {{
        GridView_widget([
      {'dataProvider'  :  dataProvider,
          'layout' :"{items}\n{sorter}",

      'columns' :

            [
              {'attribute' :'id_deviation',
              'label' :'Id deviation',}
            ]



        }])
        }}


</div>
