
.documents-plan {
    background-color: white;
    border: 3px solid whitesmoke;
    padding: 20px;
    color:gray;
    height: 180px;
}
.navbar-inverse {
    background-color: #79B68D;/*C9A798#C9B9B2;*/
    border-color: #C9B9B2;
    border-radius: 0px;
}

.navbar {
    margin-bottom: 0px !important;
    border: none !important;
    border-radius: 0px !important;
}
#menside button{
  background-color: white;
  border: 1px solid #dbdbdb;
  height: 35px;
}
#tree {
margin-top: 20px;
  width: 100%;
height: 400px;
background-color: white;
border: 1px solid #dbdbdb;
border-radius: 3px;
overflow: scroll;
}
#tree ul{
    list-style-type: none;
    padding-left: 10px;
}
#tree ul i,#dirContent ul i{
margin: 5px;
}
#tree ul i,#dirContent ul i{
font-size: 1.3em;
}
#tree li,#dirContent li{
cursor: pointer;
}
#tree li.selected,#dirContent li.selected{
background-color: #daefda;
border-left: 1px solid green;
}
#dirContent{
  padding-top: 10px;
  height: 300px;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-right: none;
  border-radius: 3px;
  overflow: scroll;
  /*margin-top: 20px;*/
}
#dirContent ul{
  list-style-type: none;
}
#dirActions {
    height: 300px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-left: none;
    border-radius: 3px;

}
#dirActions .btn {
  line-height: 4.333;
}

#form-upload-div{
  background-color: white;

}
#searchdoc{
  margin-top: 20px;
  height: 60px ;
  border: 1px solid #dbdbdb;
  border-bottom: 2px solid #79B68D;/*97c397;*/

}
#searchdoc-parent{
  position: relative;
}
#searchdoc-icon {
    position: absolute;
    top: 35px;
    right: 20px;
}
#alert-div{
  position: absolute;
  z-index: 99;
}
#alert-div .alert{
  left: 30%;
box-shadow: 0 0 5px;
right: 30%;
}
.search-result {
    color: #3f7ead;
    cursor: pointer;
    margin-bottom: 10px;
}
.upload-header .progress{
  background-color: white !important;
  border-radius: 0px !important;
}
.upload-header .progress-bar{
  height: 25% !important;
}
.tab-content{
    background-color: white;
    padding: 20px;
    margin-left: -15px;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
    height: 300px;
    overflow-y: auto;
}
.comment {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 40px;
}
.process-div {
  overflow-x: auto;
  margin-top: 50px;
  height: 150px;
  text-align: center;
}
.flow-process {
  width: -moz-max-content;
  margin: auto;
}
.process {
    width: 100px;
    border: 1px solid silver;
    display: inline-block;
    padding:20px 0;
}
.flow-arrow {
    width: 100px;
    display: inline-block;
    font-size: 2em;
    vertical-align: middle;
}
.status.waiting {
  width: 30px;
  height: 10px;
  background-color: #da5c5c;
  border-radius: 7px;
  margin: auto;
  margin-top: 20px;
}
.status.done {
  width: 20px;
  height: 30px;
  margin: auto;
  transform: rotate(40deg);
  border-bottom: 4px solid #79dd69;
  border-right: 4px solid #79dd69;
}
