.training-plan {
    background-color: white;
    border: 3px solid whitesmoke;
    padding: 20px;
    color:gray;
    height: 180px;
}
.navbar-inverse {
    background-color: #BAB37C;/*#B68C79;/*C9A798#C9B9B2;*/
    border-color: #C9B9B2;
    border-radius: 0px;
}

.navbar {
    margin-bottom: 0px !important;
    border: none !important;
    border-radius: 0px !important;
}
#menNew, #menList, #menData, #menCapa {

    /*background-color: #717171;*/
    border-radius: 2px;
    color: #BFC5C8;/*#C9A798;/*#CECF9E;*/
    font-size: 3em;
    padding: 26px;
    min-width: 100px;
    border: 2px solid #ECECEC;
}
th,td {
    border: none !important;
    line-height: 40px !important;
}
