
/*  My CSS Starts HERE  */

/* bootstrap OVERRIDE Start*/
#myWrap
{
min-height:100%;
}
h1
{
color:#969696;
margin-top:0px;
margin-bottom:50px;
}
.navbar
{
margin-bottom: 0px;
border: none;
border-radius: 0px;
}
.deviation-bar
{
background-color:#928E7C; /*#703F86; #F0F0A8;/*#EDED96;*/

}

.admin_navbar .dropdown-menu > li > a
{
  background-color: #928E7C;
}
.admin_navbar .dropdown-menu > li > a:hover
{
  background-color: #c1bba3;
}

.deviation-bar a
{
  color:#eadbec !important;
}
.left_menu
{
text-align:center;
}

#menNew,#menList,#menData
{
 width: 100%;
margin: auto;
font-size: 3em;
background-color: #928E7C;
padding: 10px;
border-radius: 5px;
color: #f1f5f8;
}

#menNew:hover,#menList:hover
{
  background-color: #a6a08a;
}
/*
#menList
{
background-position: 33% 50%;
}
#menData
{
background-position: 67% 50%;
}*/
/*
table,th
{
text-align:center;

}*/
/* bootstrap OVERRIDE End*/
.declaration
{
background-color: #FFC58C;
/* border-left: 2px solid #FFA846 !important;
background-color: #FFC081;*/
}
.investigation
{
  background-color: #FFFEA6;
/*border-left: 2px solid #EEFF46 !important;
background-color: #F7F98F */;
}
.closed
{
  background-color: #A6D6FF;
/*border-left: 2px solid #4697FF !important;
background-color: #7EE4E9;*/
}
#lvl_section
{
font-size: 14px;
font-weight: bold;

}
.Vlow, .low, .modr, .high, .crit
{
    padding: 5px;
    border-radius: 3px;
    width: 80px;
    text-align: center;
    color:#5D5D5D;
    font-weight: initial;
}
#riskLVL
{
line-height:400%;
  margin-bottom:10px;
}
#lvl_section button
{
line-height: 235%;
border-radius: 3px;
}
.lvl
{
    background-color: #CBCBCB;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    color:#5D5D5D;
    font-weight: initial;
}
.Vlow, .lvl-Vlow
{
    background-color: #94DDFF;
}
.low, .lvl-low
{
    background-color: #ADFFA1;
}
.modr, .lvl-modr
{
    background-color: #F3F28C;
}
.high, .lvl-high
{
    background-color: #FFCB87;
}
.crit, .lvl-crit
{
    background-color: #FF8F8F;
}
.detail-view th
{
  width:30% !important;
  text-align:left;
}
.detail-view td
{

  text-align:left;
}
#idHistory
{
margin:0px;
}
.glyphicon-lock
{
  color: #FF4D4D;
}
.permissions-table
{
  text-align: left;
  margin-bottom: 20px;
}
.permissions-table .permission
{
  text-align: center;
}
.permissions-table th
{
  color: #B091B0;
 text-align: left !important;
 padding: 20px 20px 10px 5px;
}
.permissions-table td
{
  border: 1px solid #C8C8C8;
  padding: 25px;
}
.perm-checked
{
  background-color: green;
}
