html,
body {
    height: 100%;
    color:#7D7D7D !important;
}
#harmony_logo {
    padding: 5px !important;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.view-color
{
  color: #799879;
}
#main_bar {
    background-color: #3f8aae;/*31bbe9;/*#52b0cf;/*white;*/
    border:none;
    border-radius:0px;
    /*border-bottom: 2px solid #adadad ;*/
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #adadad;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #686868;
    background-color: transparent;
    cursor: pointer;
}
.no-float
{
  float:none !important;
}
.form-horizontal .control-label {

    text-align: left !important;
}
#myWrap
{
  min-height: 90%;
  background-color: #f6f7f8;
}
#login-div
{
  margin-top: 50px;
}
.navbar-inverse .navbar-brand {
    color: white  ;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.table-bordered {
    border: 1px solid #ededed;
}
table {
    background-color: #fff;
}
.collapseLabel+.collapse
{
  padding: 20px;
}
.modules .btn{
  line-height: 10;
  width: 100%;
  font-size: 1.5em;
}
.modules .btn:after{
  content:'►';
  /*font-size: 2em;*/
}
