
/*  My CSS Starts HERE  */

/* bootstrap OVERRIDE Start*/
#myWrap
{
min-height:100%;
}
h1
{
color:#969696;
margin-top:0px;
margin-bottom:50px;
}
.navbar
{
margin-bottom: 0px !important;
border: none  !important;
border-radius: 0px   !important;
}
.deviation-bar
{
background-color:#FFFFC2 !important; /*#F0F0A8;/*#EDED96;*/

}
.deviation-bar a
{
  color:#8A8D6D !important;
}
.left_menu
{
text-align:center;
}
.collapseLabel {
  border-bottom: 3px solid #e6eaed;//#dde5ea;
  margin-bottom: 50px;
  cursor: pointer;
  padding:15px;
}

#menNew,#menList,#menData,#menCapa
{
/*background-image: url("../images/menu-lg.png");
width: 74%;
height: 71px;
background-position: 0px 50%;
background-repeat: no-repeat;
margin: auto;
background-color: #717171;/*#757562;/*#C4C59C;/*#D1D2A9;/*#6C7E83;*/
border-radius: 2px;
color: #BFC5C8;/*#C9C9C9;/*#717171;#FFF;*/
font-size: 3em;
padding: 26px;
min-width: 100px;
border: 2px solid #ECECEC;/*#717171#BCBC98;*/
}
#menNew:hover,#menList:hover,#menData:hover,#menCapa:hover
{

background-color: #F6F6F6; /*#F0F0F0;/*#717171;*/
border-radius: 2px;
color: #787878;/*white;/*#FFF;*/
font-size: 3em;
padding: 26px;
min-width: 100px;

}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: initial;
}
/*
#menList
{
background-position: 33% 50%;
}
#menData
{
background-position: 67% 50%;
}*/
table,th
{
text-align:center !important;

}
/* bootstrap OVERRIDE End*/
.eNorate::before
{
  content: "▯▯▯";
  font-size: 1.5em;
  line-height: 17px;
  color: #b5b5b5;
}
.eLvlMinor::before {
    content: "▮▯▯";/* ★☆☆ ■□□ ●○▶▷  ●○○  ▶▷▷ ★★☆ ▶▶▷ ●●● ★★★ */
    font-size: 1.5em;
    line-height: 17px;
    color: #69ff61;
}
.eLvlMedium::before {
    content: " ▮▮▯";
    font-size: 1.5em;
    line-height: 17px;
    color: #FFF861;
}
.eLvlMajor::before {
    content: "▮▮▮";
    font-size: 1.5em;
    line-height: 17px;
    color: #FF6161;
}
.Declaration
{
  /*
background-color: #FFC58C;
border: 1px solid #FFF !important;
 border-left: 2px solid #FFA846 !important;
background-color: #FFC081;*/
}

.Missing.information::after,#Missing.information a:after {
    content: " ⚠";
    color: #d79191;/*#a20000;/*#FFC58C;*/
    font-size: 2em;
}

.Approval::after,#Approval a:after {
    content: " 🔒";/* 🖐 ⛔ ♻  ◈ ■ ☠ ☑ ☢ */
    color: #ff9345;/*#ff3d3d;/*#FFC58C;*/
    font-size: 2em;
}
.Declaration::after,#decLinkTab a:after {
    content: " ▶";
    color: #FF8B8B;/*#FFAA3D;/*#FFC58C;*/
    border: 2px solid;
    padding: 0px 4px 2px 3px;
    margin-left: 10px;
}
.investigation
{
  background-color: #FFFEA6;
  border: 1px solid #FFF !important;
/*border-left: 2px solid #EEFF46 !important;
background-color: #F7F98F */;
}
.Investigation::after,#investLinkTab a:after {
    content: " ▶";
    color: #E1CC30;/*#E7D761;/*#FFF645;*/
    border: 2px solid;
    padding: 0px 4px 2px 3px;
    margin-left: 10px;
}

.Conclusion::after,#concLinkTab a:after {

    content: " ▶";
    color: #3fd737;/*#8cff86;/*rgb(13, 255, 0);*/
    border: 2px solid;
    padding: 0px 4px 2px 3px;
    margin-left: 10px;

}
.Signing::after,#Signing a:after {

    content: " 🖆";/* 🖎 ▋▋ ⏸*/
    color: rgb(0, 201, 255);
    font-size: 2em;

}
.Closed::after,#Closed a:after {

    content: " ✔";
    color: rgb(0, 201, 255);
    font-size: 2em;


}
.closed
{
  background-color: #A6D6FF;
  border: 1px solid #FFF !important;
/*border-left: 2px solid #4697FF !important;
background-color: #7EE4E9;*/
}
#lvl_section
{
font-size: 14px;
font-weight: bold;

}
.Vlow, .low, .modr, .high, .crit
{
    padding: 5px;
    border-radius: 3px;
    width: 80px;
    text-align: center;
    color:#5D5D5D;
    font-weight: initial;
}
#riskLVL
{
line-height:400%;
  margin-bottom:10px;
}
#lvl_section button
{
line-height: 235%;
border-radius: 3px;
}
.lvl
{
    background-color: #CBCBCB;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    color:#5D5D5D;
    font-weight: initial;
}
.Vlow, .lvl-Vlow
{
    background-color:   #41C2FF !important;/*#94DDFF;*/
}
.low, .lvl-low
{
    background-color:  #39C824 !important; /*#ADFFA1;*/
}
.modr, .lvl-modr
{
    background-color:   #F2F055 !important;/*#F3F28C;*/
}
.high, .lvl-high
{
    background-color:  #FFB24D !important;/*#FFCB87;*/
}
.crit, .lvl-crit
{
    background-color: #FF5151 !important;/*#FF8F8F;*/
}
.detail-view th
{
  width:30% !important;
  text-align:left !important;
}
.detail-view td
{

  text-align:left;
}
#idHistory
{
margin:0px;
}
.libraryTag
{
  background-color: #f5f5b9 !important;
  border-radius: 4px;
  height: 40px;
  padding: 9px !important;
  margin-top: 6px;
  text-align: center;
}
.libraryTag i
{
  font-size: 1.5em;
}
.tag-deviation,.tag-deviation:hover
{
  background-color: #FFFFC2 !important;
  line-height: 50% !important;
  margin: 7px;
  border-radius: 3px;
  font-size: 0.9em;
  border: 1px solid #e3e2b9;
}
.tag-deviation span
{
  color:black;
}
.list-buttons {
    height: 100px;
    width: 100px;
    background-color: #2490BA;
    border: none;
    color: white;
    border-radius: 2px;
    font-size: 3em;
    margin-right: 50px;
    margin-bottom: 20px;
}
table td, table th
{
  border: 0px solid !important;
  padding: 20px !important;
}
.del-file
{
  background-color: #D7D7D7;
padding: 0px 5px;
color: gray;
cursor: pointer;
border-radius: 3px;
margin-left: 4px;
margin-right: 15px;
}
.form-control
{
  border: 1px solid #BFBFBF;
  border-radius: 2px;
}
label
{
  color: #808080 ;
}
.form_field
{
  margin-bottom: 30px;
}
.tb {
    /*background-color: #FBFFC2;
    height: 700px;*/
    border: 1px solid #FFF;
    text-align: center;
    color: #696969;
    margin-bottom: 50px;
}
.tbs {

    /*height: 400px !important;*/

}
.tbi {

    height: 200px !important;

}
.tb div,.tbi div {
    font-size: 2em;
}
textarea {
   resize: none;
}
.tab a
{
  height: 59px;
  border-radius: 2px;
  border-top: 3px solid #6E6E6E !important;
  color: #595959;
  margin-left: 10px;
}
#decLinkTab a
{

  height: 59px;
  /*background-color: #FFC58C;*/
  border-radius: 2px;
border-top: 3px solid #6E6E6E;
color: #595959;
margin-left: 10px;
}

#investLinkTab a
{
  height: 59px;
  /*background-color: #FFFEA6;*/
  border-radius: 2px;
border-top: 3px solid #6E6E6E;
color: #595959;
margin-left: 10px;
}
#concLinkTab a
{
  height: 59px;
  /*background-color: #A6D6FF;*/
  border-radius: 2px;
border-top: 3px solid #6E6E6E;
color: #595959;
margin-left: 10px;
}
#riskLinkTab a
{
  height: 59px;
  background-color: #EFEFEF;
  border-radius: 2px;
border-top: 3px solid #6E6E6E;
color: #595959;
margin-left: 10px;
}
.nav-tabs {
    border-bottom: none;/*3px solid #696969;
    height: 70px;*/
}
.lvl-tab:after
{
  content:"undefined";
  display: inline-block;
  background-color: #b1b1b1;
  padding: 7px;
  color: #494949;
  margin-left: 25px;
  width: 55%;
  text-align: center;
}
.lvl-tab-minor:after
{
  content:"Minor";

  background-color: #92ff8c;

  color: #039000;

}
.lvl-tab-major:after
{
  content:"Major";

  background-color: #FFFF8C;

  color: #889000;

}
.lvl-tab-catastrophic:after
{
  content:"catastrophic";

  background-color: #ff8c8c;

  color: #900000;

}
.approve, .moreInfo, .discardDev
{
width: 32%;
height: 60px;
border-radius: 2px;
border: none;
color:white;
}
.approve
{
  background-color:#5CB85C;
}
.moreInfo
{
  background-color:#337AB7;
  margin-left: 2%;
  margin-right: 2%;
}
.discardDev
{
  background-color:#C9302C;
}
.ui-slider-handle {
    border-radius: 100%;
    border: 3px solid #BDC2A8 !important; /*#90A8C3*/
    top: 0.1em;
}
.ui-slider
{
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #EAEAEA;
}
#lvl-screen
{
  width: 100%;
height: 142px;
margin-bottom: 10px;
color: white;
line-height: 313%;
font-size: 3em;
text-align: center;
border-radius: 2px;
}
#rateButton
{
  width: 50%;
  height: 90px;
  background-color: #F2F2F2;
  border: 1px solid #D2D2D2;
  border-radius: 2px;
  color:gray;
}
.rating {
    font-size: 4em;
}

#sevFirstRate:before,#sevSecondRate:before,#sevThirdRate:before
{
    content:"▯";
}
.minor-rate:before
{
    content:"▮";
  color:green !important;

}

.medium-rate:before
{
  content:"▮";
  color:yellow !important;

}

.major-rate:before
{
  content:"▮";
  color: red !important;

}
.minor-rated:before
{
    content:"▮";
  color:green;

}

.medium-rated:before
{
  content:"▮";
  color:yellow;

}

.major-rated:before
{
  content:"▮";
  color: red;

}
.signApproved {
    background-color: #4ad14a;
    border-radius: 3px;
    padding: 10px;
    color: white;
}
.signApproved::after
{
  content:' ✔'; /*tick*/
  color: green ;
  font-size: 1.3em;
}
.Ogood,.Obad
{
  border: 2px solid gray;
  padding: 5px;
  border-radius: 5px;
  width: 13%;
  margin-top: 30px;
}
.bad,.good
{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid gray;
  margin: auto;
  margin-bottom: 4px;
  margin-top: 4px;
}

.Ogood .good
{
  background-color: #4ed14e;
}
.Obad .bad
{
  background-color: #d14e4e;
}
