body
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
color:rgb(55, 55, 55);
}
table
{
  text-align: center;
  width:100%;
  border:1px solid gray;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.detail-view, .detail-view th
{
  text-align: left;
  padding-left: 5px;
}
.detail-view th
{
  width: 30%;
}
.detail-view
{
  margin-bottom: 50px;
}
th
{
  border: 1px solid rgb(145, 145, 145);

}

.detail-view > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}
td
{
  padding:20px;
  border: 1px solid gray;
}
.lvl-crit
{
  background-color: red;
}
.lvl-modr
{
  background-color: rgb(255, 245, 0);
}
.lvl-low
{
  background-color: rgb(0, 255, 3);
}

h1
{
  text-align: center;
  margin-bottom: 60px;
  margin-top: 100px;
}
.title
{
  text-align: center;
  margin-bottom: 50px;
}
